
<div *ngIf="firstTime" class="text-center centralize">
  <h1>Are You Ready To Enter A World Of Cuteness?</h1>
  <button class="btn" routerLink="/home" (click)="setTime()">Enter</button>
</div>
<div *ngIf="!firstTime">
  <app-navbar></app-navbar>
  <br><router-outlet></router-outlet>
  <div class="relative">
    <div class="iconsDiv mt-5 pb-4">
      <a href="https://www.facebook.com/gilad.sher"><i class="fab fa-facebook-square fa-3x mr-4 mt-4"></i></a>
      <a href="https://github.com/giladsher"><i class="fab fa-github fa-3x mr-4 mt-4"></i></a>
      <a href="https://www.linkedin.com/in/gilad-sher/"><i class="fab fa-linkedin fa-3x mr-4 mt-4"></i></a>
      <a href="mailto: triplesher6@gmail.com"><i class="fas fa-at fa-3x mr-4 mt-4"></i></a>
    </div>
  </div>
</div>